.speech {
    font-family: 'Comfortaa';
    font-size: 22px;
    font-size: medium;
    color: black;
}

.song {
    font-family: Georgia, serif;
    font-size: 22px;
    font-size: medium;
    color: black;
}

.direction {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 22px;
    font-size: medium;
    color: black;
    background-color: rgb(180, 240, 243);
}

.direction:hover {
    background-color: cornsilk;
    color: rgb(245, 11, 11);
}

.name {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: medium;
    color: black;
}

.Calynx {
    font-size: 20px;
}
.Calynx:hover{
    background-color: rebeccapurple;
    color: white;
    border: solid black 2px ;
    filter:drop-shadow(10px 10px);
}
.Salata {
    font-size: 20px;
   
}
.Salata:hover{
    background-color: rgb(60, 45, 75);
    color: rgb(213, 216, 10);
    border: solid black 2px ;
    filter:drop-shadow(10px 10px);
}